html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: whitesmoke;
  background-color: red;
  font-family: 'Poiret One', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

h2 {
  font-family: 'Spirax', sans-serif;
  font-size: 4rem;
  color: rgb(138, 0, 0);
  margin: 0;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100vw;
}

nav {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  font-family: 'Spirax', sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
  max-width: 400px;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 2rem;
}

main .section {
  height: 100vh;
}

main .section .section-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .section .hot-image {
  background-image: url(assets/hot.jpg);
}

main .section .juicy-image {
  background-image: url(assets/juicy.jpg);
}

main .section .cosy-image {
  background-image: url(assets/cosy.jpg);
}

main .section .section-image .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  flex: 1;
  max-width: 600px;
  gap: 1rem;
}

main .section .section-image .text-box .sub {
  display: flex;
  justify-content: center;
  background-color: rgba(138, 0, 0, 0.8);
  padding: 0 10px;
  width: 100%;
  max-width: 400px;
}

main .section .section-image .text-box .text-1 {
  align-self: flex-start;
}

main .section .section-image .text-box .text-2 {
  align-self: flex-end;
}

.sub-text-3 {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.671);
  width: 100%;
  max-width: 450px;
}

.sub-text-3 div:first-of-type {
  margin-top: 1rem;
}

.sub-text-3 div:last-of-type {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  margin-left: 2rem;
}

.row p {
  margin: 0;
}
